@media (max-width: $breakpoint-mobile){
    .about {
        @include full-page;
        padding: 60px 5vw;
        h1, h2 {
            margin: 0;
            color: $font-bright;
        }
        p, ul {
            color: $font;
        }
        &-header {
            display: flex;
            justify-content: space-between;
            width: 100%;
            background-color: $background-shadow;
        }
    }
}

@media (min-width: $breakpoint-mobile){
    .about {
        @include full-page;
        padding: 60px 10vw;
        h1, h2 {
            margin: 0;
            color: $font-bright;
        }
        p, ul {
            color: $font;
        }
        &-header {
            margin-top: 50px;
            &-content {
                width: auto;
                height: auto;
                margin-top: 10px;
            }
        }
    }
}

@media (min-width: $breakpoint-desktop){
    .about {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: left;

        &-header {
            display: flex;
            justify-content: space-between;
            width: 99vw;
            background-color: $background-shadow;
            article {
                padding-left: 5vw;
                max-width: 50%;
                height: 500px;
            }
        }

        &-content {
            section {
                padding: 10px 0;
                margin: 20px 0;
            }
        }
    }
}
