.contact {
    display: flex;
    article {
        h1 {
            margin: 0;
            padding: 20px 0;
            color: $font-bright;
        }
        p, a {
            color: $font;
        }
    }
}
