.home {
  &-hero {
    @include full-page;
    
    &-content {
      h1 {
        margin: 0;
        color: $accent;
        span {
          color: $font-bright;
        }
      }
      p {
        color: $font-bright;
        margin: 0;
      }
      h3 {
        display: flex;
        color: $font;
        margin: 10px 0;
      }
    }
  }
  &-about {
    @include full-page;
    @include flex-center;
    @include backgroundColumnRight;
    flex-direction: column;
  }
  &-projects {
    @include full-page;
    @include flex-center;
    @include backgroundColumnRight;
    flex-direction: column;
    a {
      align-self: center;
    }
    &-map {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      list-style: none;
      .home-project-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        align-self: flex-start;
        height: 200px;
        background-color: $background;
        border: 2px solid $font;
        &:nth-child(even){
          flex-direction: row-reverse;
          margin: 20px 0;
          align-self: flex-end;
          justify-content: flex-end;
        }

        &-text {
          padding: 10px;
          h5 {
            margin: 0;
            color: $font-bright;
          }
          strong {
            color: $accent;
          }
          span {
            color: $font;
            p {
              margin: 0;
            }
          }
          p {
            margin: 8px 0;
          }
        }

        &-graphic {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 150px;
          min-width: 150px;
          background-color: $font;
          padding: 10px;
          &-tech {
            padding: 0;
            margin: 0;
            list-style: none;
            color: $background;
          }
        }
      }
    }
  }
  &-contact {
    @include full-page;
    @include flex-center;
    @include backgroundColumnRight;
    flex-direction: column;
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 20px 0 10px 0;
      a {
        @include link-hover;
        font-size: 35px;
        width: auto;
        margin-right: 20px;
      }
    }
  }
}


.styled-background {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  background-image: url('../../assets/ocean-scene.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  
  &-moon {
    position: absolute;
    height: 15vh;
    top: 80px;
    right: 25%;
  }

  &-boat {
    position: absolute;
    bottom: 50px;
    left: 25%;
    height: 10vh;
  }
}


@media (max-width: $breakpoint-desktop){
  .home {
    &-projects {
      &-map {
        .home-project-container {
          width: 100%;
          height: 21vh;
        }
      }
    }
  }
  .styled-background {
    &-moon {
      height: auto;
      width: 120px;
      top: 60px;
      right: 10vw;
    }

    &-boat {
      bottom: 20px;
      left: 5vw;
      height: auto;
      width: 150px;
    }
  }
}

@media (max-width: $breakpoint-mobile){
  .home {
    &-projects {
      &-map {
        .home-project-container {
          flex-direction: column;
          height: 28vh;
          &:nth-child(even){
            flex-direction: column;
          }
          &:nth-child(3){
            display: none;
          }
          &-text {
            padding: 10px;
          }
          &-graphic {
            display: flex;
            width: calc(100% - 20px);
            min-width: unset;
            &-tech {
              display: flex;
              flex-wrap: wrap;
              li {
                margin: 5px;
              }
            }
          }
        }
      }
    }
  }
}
