.home {
  &-hero {
    @include pageWrap;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/background_drawing.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    &-content {
      max-width: 400px;
      text-align: left;
      margin-top: 100px;
      h1 {
        font-size: 60px;
        margin-top: 20px;
        color: $accent;
      }
      p {
        font-size: 22px;
        color: $accent;
      }
    }
  }
}
