.home {
  &-hero {
    @include full-page;
    &-content {
      h1 {
        margin: 0;
        color: $accent;
        span {
          color: $font-bright;
        }
      }
      p {
        color: $font-bright;
        margin: 0;
      }
      h3 {
        display: flex;
        color: $font;
        margin: 10px 0;
      }
    }
  }
  &-about {
    @include full-page;
    @include flex-center;
    flex-direction: column;
    section {
      max-width: 50%;
    }
  }
  &-projects {
    @include full-page;
    @include flex-center;
    flex-direction: column;
  }
  &-contact {
    @include full-page;
    @include flex-center;
    flex-direction: column;
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 20px 0 10px 0;
      a {
        @include link-hover;
        font-size: 35px;
        width: auto;
        margin-right: 20px;
      }
    }
  }
  &-background {
    @include backgroundImageMe;
    transition-timing-function: ease-out;
    transition-duration: .5s;
  }
}

@media (max-width: $breakpoint-desktop){
  .home {
    &-about {
      justify-content: flex-start;
      section {
        max-width: 100%;
      }
    }
    &-projects {
      justify-content: flex-start;
    }
    &-contact {
      justify-content: flex-start;
    }
  }
}

// @media (max-width: $breakpoint-mobile){
// }
