.project-details {
    @include full-page;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    h1 {
        margin: 30px 0 20px 0;
        color: $font-bright;
    }
    article {
        margin-top: 20px;
        width: 100%;
        small {
            text-align: center;
            color: $font;
        }
        p, ul {
            text-align: left;
            color: $font;
        }
    }
}

@media (min-width: $breakpoint-desktop){
    .project-details {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
