// Fade In (used on name in header)
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}
  
@-moz-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}
  
@-webkit-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}
  
@-o-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}
  
@-ms-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

// Fade and move used in desktop About
@keyframes fadeOutMoveImage {
  0% {
    opacity:1;
    transform : scale(1);
  }
  100% {
    transform: translate(30%, -46.5%) scale(.4);
    opacity:0;
  }
}

@-moz-keyframes fadeOutMoveImage {
  0% {
    opacity:1;
    transform : scale(1);
  }
  100% {
    transform: translate(30%, -46.5%) scale(.4);
    opacity:0;
  }
}
  
@-webkit-keyframes fadeOutMoveImage {
  0% {
    opacity:1;
    transform : scale(1);
  }
  100% {
    transform: translate(30%, -46.5%) scale(.4);
    opacity:0;
  }
}
  
@-o-keyframes fadeOutMoveImage {
  0% {
    opacity:1;
    transform : scale(1);
  }
  100% {
    transform: translate(30%, -46.5%) scale(.4);
    opacity:0;
  }
}
  
@-ms-keyframes fadeOutMoveImage {
  0% {
    opacity:1;
    transform : scale(1);
  }
  100% {
    transform: translate(30%, -46.5%) scale(.4);
    opacity:0;
  }
}

@keyframes fadeInMoveImage {
  0% {
    opacity:0;
    transform : scale(1);
  }
  100% {
    transform: translate(30%, -46.5%) scale(.4);
    opacity:1;
  }
}

@-moz-keyframes fadeInMoveImage {
  0% {
    opacity:0;
    transform : scale(1);
  }
  100% {
    transform: translate(30%, -46.5%) scale(.4);
    opacity:1;
  }
}
  
@-webkit-keyframes fadeInMoveImage {
  0% {
    opacity:0;
    transform : scale(1);
  }
  100% {
    transform: translate(30%, -46.5%) scale(.4);
    opacity:1;
  }
}
  
@-o-keyframes fadeInMoveImage {
  0% {
    opacity:0;
    transform : scale(1);
  }
  100% {
    transform: translate(30%, -46.5%) scale(.4);
    opacity:1;
  }
}
  
@-ms-keyframes fadeInMoveImage {
  0% {
    opacity:0;
    transform : scale(1);
  }
  100% {
    transform: translate(30%, -46.5%) scale(.4);
    opacity:1;
  }
}
