@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fix-vertical {
  position: fixed;
  right: 0;
  left: 0;
}

@mixin link-hover {
  color: $font;
  text-decoration: none;
  transition: all .3s ease-in-out;
  &:hover {
    color: $accent;
  }
}

@mixin fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@mixin fade-out {
  animation: fadeOut ease 1s;
  -webkit-animation: fadeOut ease 1s;
  -moz-animation: fadeOut ease 1s;
  -o-animation: fadeOut ease 1s;
  -ms-animation: fadeOut ease 1s;
}

@mixin full-page {
  max-width: 80vw;
  min-height: calc(100vh - 150px);
  padding: 75px 10vw;
  @media (max-width: $breakpoint-desktop){
    max-width: 90vw;
    padding: 60px 5vw;
    min-height: calc(100vh - 120px);
  }
  @media (max-width: $breakpoint-mobile){
    min-height: calc(100vh - 120px);
  }
}

@mixin backgroundImageMe {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 70%;
  width: auto;
  @media (max-width: $breakpoint-desktop){
    left: 0;
    max-height: 50%;
    max-width: unset;
    width: 100%;
  }
}
