@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fix-vertical {
  position: fixed;
  right: 0;
  left: 0;
}

@mixin link-hover {
  color: $font;
  text-decoration: none;
  transition: all .3s ease-in-out;
  &:hover {
    color: $accent;
  }
}

@mixin fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@mixin full-page {
  max-width: 80vw;
  min-height: calc(100vh - 150px);
  padding: 75px 10vw;
  @media (max-width: $breakpoint-tablet){
    max-width: 90vw;
    padding: 60px 5vw;
    min-height: calc(100vh - 120px);
  }
  @media (max-width: $breakpoint-mobile){
    max-width: 90vw;
    min-height: calc(100vh - 120px);
  }
}

@mixin backgroundColumnRight {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right;
  background-image: url('../../assets/picture-right-background.svg');
}
