h1 {
  font-size: 60px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

.title {
  font-size: 24;
}

.body-1 {
  font-size: 18px;
}

.body-2 {
  font-size: 16px;
}

.italic {
  font-style: italic;
  font-size: 14px;
}

.hyper-link {
  color: $accent;
  font-size: 16px;
}

@media (max-width: $breakpoint-tablet){
  h1 {
    font-size: 45px;
  }
  
  h2 {
    font-size: 36px;
  }
  
  h3 {
    font-size: 28px;
  }
  
  h4 {
    font-size: 24px;
  }
  
  h5 {
    font-size: 22px;
  }

  .title {
    font-size: 22px;
  }
  
  .body-1 {
    font-size: 16px;
  }
  
  .body-2 {
    font-size: 14px;
  }
}

// @media (max-width: $breakpoint-mobile){

// }