// Color Theme
// $brown-background: #775F55;
// $tan-background: #EBDDC3;
// $gold-accent: #7C5F1D;
// $blue-accent: #303848;
// $orange-accent: #BF9268;
// $green-accent: #A5AB81;
// $yellow-accent: #D8B25C;
// $teal-accent: #648276;
// $grey-accent: #968C8C;
// $hyperlink: #F7B615;
// $followed-hyperlink: #704404;


$background-tan: tan;
$gold-accent: #7C5F1D;
$blue-accent:#303848;
$orange-accent: #BF9268;
$green-accent: #A5AB81;
$yellow-accent: #D8B25C;
$teal-accent: #648276;
$grey-accent: #968C8C;
$hyperlink: #F7B615;
$followed-hyperlink: #704404;


// $dark-background: #1d2129;
// $light-background: #8bb2e9;
// $logo-blue: #303848;
// $logo-sand: #68697d;
$logo-blue: #355B8C;
$logo-sand: #8C6E35;


// color wheel
$dark-background:  #402E0B;
$light-background: #355B8C;

$dark-blue: #122640;
$blue:#355B8C;
$light-blue: #6899D9;
$brown: #402E0B;
$sand: #8C6E35;