// Color Theme
$brown-background: #775F55;
$tan-background: #EBDDC3;
$gold-accent: #7C5F1D;
$blue-accent: #303848;
$orange-accent: #BF9268;
$green-accent: #A5AB81;
$yellow-accent: #D8B25C;
$teal-accent: #648276;
$grey-accent: #968C8C;
$hyperlink: #F7B615;
$followed-hyperlink: #704404;
