// Color Theme
$background: #0a192f;
$background-shadow:#020c1bb3;
$accent:  #00e696;
$font-bright: #ccd6f6;
$font: #8892b0;

$black: #0D1117;
$beige: #D1B07D;
$blue: #2B4366;

$breakpoint-mobile: 600px;
$breakpoint-desktop: 825px;


// Mobile First
// @media only screen and (max-width: 600px) {
//   ...
// }

// @media only screen and (min-width: 600px) {
//   ...
// }

// @media only screen and (min-width: 825px) {
//   ...
// }

// @media only screen and (min-width: 992px) {
//   ...
// }

// @media only screen and (min-width: 1200px) {
//   ...
// }