.carousel {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  width: 720px;

  &-slides {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &-active {
      // This is the image
      
      color: green;
    }

    &-inactive {
      display: none;
    }
  }
  &-info {
    background-color: grey;
  }
}

@media (max-width: $breakpoint-tablet){
  .carousel {
    width: 80vw;
  }
}