.card {
  margin: 20px;
  width: 150px;
  transition: all .3s ease-in-out;
  filter: grayscale(100);
  cursor: pointer;
  
  &:hover {
    filter: grayscale(0);
    transform: scale(1.25);
  }

  img, a {
    width: 150px;
    font-size: 14px;
    text-decoration: none;
    color: black;
    margin: 0;
  }
}

.viewing-card {
  filter: grayscale(0);
}

@media (max-width: 768px){
  .card {
    filter: grayscale(0);
    &:hover {
      transform: none;
    }
  }
  .viewing-card {
    color: $accent;
  }
}

@media (max-width: 425px){
  .card {
    width: 100px;
    img, a {
      width: 100px;
    }
  }
}
