.projects {
  @include flex-center;
  flex-direction: column;

  ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 20px;
    max-width: 760px;
  }
}

@media (max-width: $breakpoint-tablet){
  .projects {
    ul {
      @include flex-center;
    }
  }
}