.global-header {
  @include flex-center;
  @include fix-vertical;
  top: 0;
  bottom: auto;
  width: 100vw;
  height: 75px;
  background-color: transparent;
  z-index: 1;
  transition: all .3s ease-in-out;

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
    padding: 0 20px;

    &-logo {
      display: flex;
      align-items: center;
      text-decoration: none;
      img {
        height: 50px;
        margin-right: 10px;
      }
      h1 {
        @include white-link-hover;
        margin: 0;
      }
    }
  }
}

.active-header {
  background-color: $dark-background;
}

@media (max-width: 767px){
  .global-header {
    height: 50px;
    background-color: $dark-background;
  
    &-content {
      padding: 0 20px 0 0;
      &-logo {
        z-index: 2;
        img {
          width: 75px;
        }
        h1 {
          display: none;
        }
      }
    }
  }
}