.navbar {
  display: flex;
  align-items: center;
  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
  }

  &-item {
    @include link-hover;
    font-weight: bold;
    &-wrap {
      margin: 0 50px 0 0;
      li {
        padding: 5px 10px;
        a {
          padding: 5px 0;
        }
      }
    }
    &:hover {
      border-bottom: 1px solid $accent;
    }
    &-active {
      color: $accent;
      border-bottom: 1px solid $accent;
    }
  }

  &-icon {
    @include link-hover;
    font-size: 25px;
    &-wrap {
      margin: 0;
      li {
        padding: 5px;
      }
    }
  }
}

@media (max-width: 825px){
  .navbar {
    &-item {
      &-wrap {
        display: flex;
        flex-direction: column;
        margin: 0;
        li {
          font-size: 18px;
        }
      }
      &:hover {
        border-bottom: none;
      }
      &-active {
        border-bottom: none;
      }
    }
  
    &-icon {
      margin: 5px;
      &-wrap {
        border-top: 1px solid $font;
        margin: 10px 0 0 0;
        li {
          padding: 10px 5px 0px 5px;
        }
      }
    }
  }
}