.navbar {
  display: flex;
  align-items: center;
  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
  }

  &-item {
    @include white-link-hover;
    font-weight: bold;
    &-wrap {
      margin: 0 50px 0 0;
      li {
        padding: 10px;
      }
    }
    &:hover {
      border-bottom: 1px solid $sand;
    }
    &-active {
      color: $sand;
      border-bottom: 1px solid $sand;
    }
  }

  &-icon {
    @include white-link-hover;
    font-size: 25px;
    &-wrap {
      margin: 0;
      li {
        padding: 5px;
      }
    }
  }
}

@media (max-width: 767px){
  .navbar {
    &-hamburger {
      @include flex-center;
      @include fix-vertical;
      flex-direction: column;
      top: 0;
      bottom: auto;
      width: 100vw;
      background-color: $light-background;
      margin: 0;
      z-index: 1;
    }

    .open-icon, .close-icon {
      align-self: flex-end;
      font-size: 25px;
      padding: 10px;
    }

    .close-icon {
      padding-top: 0;
      margin-right: 20px;
    }
  
    &-item {
      &-wrap {
        display: flex;
        flex-direction: column;
        margin: 5px 0 0 0;
        li {
          font-size: 18px;
        }
      }
      &:hover {
        border-bottom: none;
      }
      &-active {
        border-bottom: none;
      }
    }
  
    &-icon {
      margin: 5px;
      &-wrap {
        border-top: 1px solid $blue-accent;
        margin: 0;
        li {
          padding: 10px 5px 0px 5px;
        }
      }
    }
  }
}