.full-page {
  max-width: 80vw;
  min-height: calc(100vh - 95px);
  padding: 75px 10vw 20px 10vw;
  @media (max-width: 767px){
    padding-top: 60px;
    min-height: calc(100vh - 80px);
  }
}

.section-split {
  display: flex;
  justify-content: space-between;
}
