.homepage-section {
  width: 100%;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  h2 {
    margin: 0 0 20px 0;
    align-self: flex-start;
    color: $font-bright;
  }
  section {
    width: 100%;
  }
  button {
    margin-top: 20px; 
  }
  p {
    color: $font;
  }
}

@media (max-width: $breakpoint-desktop){
  .homepage-section {
    padding-left: 5vw;
    width: calc(100% - 5vw);
    h2 {
      margin: 50px 0 20px 0;
    }
    .text-column {
      padding: 0 45px;
    }
  }
}

@media (max-width: $breakpoint-mobile){
  .homepage-section {
    h2 {
      margin: 20px 0 5px 0;
    }
    .text-column {
      padding: 0;
    }
  }
}
