.full-page {
  max-width: 80vw;
  min-height: calc(100vh - 150px);
  padding: 75px 10vw;
  @media (max-width: 767px){
    padding: 60px 10vw;
    min-height: calc(100vh - 120px);
  }
}

.homepage-section {
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 45px;
    margin: 0 0 20px 0;
  }
  article {
    width: 100%;
    text-align: left;
  }
  button {
    margin-top: 20px; 
  }
  .text-column {
    padding: 0 65px;
  }
}
